{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/acceuil.css' %}">

 <div class="desktop-1" >
  	<div class="rectangle-5" >
  	</div>
  	<div class="rectangle-9" >
  	</div>
  	<div class="rectangle-8" >
  	</div>
  	<div class="connectez-vous" >
Connectez-vous </div>
  	<div class="inscrivez-vous-maintenant" >
Inscrivez-vous maintenant  </div>
  	<div class="rectangle-10" >
  	</div>
  	<div class="rectangle-22" >
  	</div>
  	<div class="nom-d-utilisateur" >
Nom d’utilisateur  </div>
  	<div class="mot-de-passe" >
Mot de passe  </div>
  	<div class="lit-review" >
LITReview </div>
  	<div class="rectangle-14" >
  	</div>
  	<div class="se-connecter" >
Se connecter </div>
  	<div class="rectangle-15" >
  	</div>
  	<div class="rectangle-16" >
  	</div>
  	<div class="rectangle-18" >
  	</div>
  	<div class="rectangle-19" >
  	</div>
  	<div class="flux" >
Flux </div>
  	<div class="post" >
Post </div>
  	<div class="abonnement" >
Abonnement </div>
  	<div class="se-deconnnecter" >
Se deconnnecter </div>
  	<div class="rectangle-21" >
  	</div>
  	<div class="sinscrire" ><a href="{% url 'inscription' %}">S'inscrire</a>
 </div>
</div>