{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/creer_ticket.css' %}">

<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="desktop-1" >
    <div class="rectangle-5" >
    </div>
    <div class="rectangle-9" >
    </div>
    <div class="rectangle-8" >
    </div>
    <div class="creer-un-ticket" >
Creer un ticket  </div>
    <div class="image" >
Image </div>
    <div class="rectangle-10" >
    </div>
    <div class="rectangle-20" >
    </div>
    <div class="nom-d-utilisateur" >
Nom d’utilisateur  </div>
    <div class="titre" >
Titre  </div>
    <div class="lit-review" >
LITReview </div>
    <div class="rectangle-14" >
    </div>
    <div class="se-connecter" >
Se connecter </div>
    <div class="rectangle-15" >
    </div>
    <div class="rectangle-16" >
    </div>
    <div class="rectangle-18" >
    </div>
    <div class="rectangle-19" >
    </div>
    <div class="flux" >
Flux </div>
    <div class="post" >
Post </div>
    <div class="abonnement" >
Abonnement </div>
    <div class="se-deconnnecter" >
Se deconnnecter </div>
    <div class="rectangle-21" >
    </div>
    <div class="telecharger-fichier" >
Telecharger fichier </div>
</div>