{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/logging.css' %}">
<div class="container">
    <div class="box" style="left: 3218px; top: 345px;"></div>
    <div class="larger-box"></div>
    <div class="box" style="left: 486px; top: 410px;"></div>
    <div class="header-box"></div>
    <div class="title">Inscrivez-vous </div>
    <div class="label" style="width: 402px; left: 441px; top: 415px;">Confirmer mot de passe </div>
    <div class="box" style="left: 485px; top: 258px;"></div>
    <div class="box" style="left: 485px; top: 338px;"></div>
    <div class="label" style="width: 218px; left: 488px; top: 337px;">Mot de passe </div>
    <div class="label" style="width: 216px; height: 40px; left: 504px; top: 261px;">Nom d’utilisateur</div>
    <div class="app-title">LITReview</div>
</div>
